<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p></br>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p></br>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p></br>

</br>

<p>
<%= link_to "Food Log List", posts_path %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
