<%= form_for(@post) do |x| %>
  <ul>
  <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <p>
    <%= x.label :image, "Attach Image Here" %></br>
    <%= x.file_field :image %>
  </p></br>

  <p>
    <%= x.label :caption %></br>
    <%= x.text_area :caption %>
  </p></br>

  <p></br>
    <%= x.submit %>
  </p>
<% end %>
