<h1> Here's That Food Log </h1>

<%= image_tag @post.image.url %>
<h5><%= @post.caption %></p></h5>



<p> <%= @post.comments.size %> comments </p>
<!-- Embed new comment form in article show action. Comment on article page directly. -->
<p><%= render partial: 'posts/comment', collection: @post.comments %>
<%= render partial: 'comments/form' %>
</p></br>

<h3><%= link_to "Home", root_path %></h3> |
<h3><%= link_to "Food Log List", posts_path %></h3> |
<% if logged_in? %>
  <h3><%= link_to "Edit Post", edit_post_path(@post) %></h3> |
  <h3><%= link_to "Remove Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %></h3> |
  <h3><%= link_to "Record New Log", new_post_path, class: "new_post" %></h3>
<% end %>
