<!DOCTYPE html>
<html>
<head>
  <title>EatsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h5>
        <% if logged_in? %>
          <!-- <%= "Logged in as #{current_user.username}" %> </br> -->
        </br>
          <%= link_to "Logout", logout_path %>
        <% else %>
            <%= "Logged Out" %>
          <% end %>
      </h5>
    </div>
  </div>





</body>
</html>
